/* Game area */
canvas {
    border: 1px solid black;
    background-color:gainsboro;
}

header h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
}

.column {
    background-color: #f1f1f1;
    width: 20%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}

.img_container {
    text-align: center;
    width: 100%;
}

.button {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }